body {
    background-color: lightblue;
}

h1 {
    color: Red;
   font-size: 250%;
    text-align: center;
}
p{
    font-style: italic;
     font-family: "Times New Roman", Georgia, Serif;
   }
   p.big{
    line-height: 200%;
}
